<div class="m_nav">< <%= link_to  "All Forums", 
                                  moxie_forums_path, 
                                  :class => "always_underlined "%>
</div>

<div class="m_header">
  <%= @forum.title %>  
</div>

<div class="m_header_links">
  <%= link_to "Start a new discussion", 
              new_moxie_topic_path( @forum ),
              :class => "always_underlined action" %>
</div>

<div>
<% @forum.topics.each do |topic| %>

  <div class="m_topic clearfix">
      
    <div class="m_name">
      <div class="m_title"><%= link_to topic.title, moxie_topic_path( topic ) %></div>
      <div class="m_description">
        <span class="m_topic_count"><%= pluralize topic.post_count, "post" %>.</span>
        <%# forum.description %>
      </div>
    </div>

    <div class="m_info">
      <div class="m_topic_count"><%# pluralize forum.topic_count, "topic" %></div>
    </div>

  </div>
    
<% end %>
</div>


