<div class="m_nav">< <%= link_to "All Topics in #{@topic.forum.title}", moxie_forum_path( @topic.forum ), :class => "always_underlined "%></div>

<div class="m_header"><%= @topic.title %></div>

<div>
<% @topic.posts.each do |post| %>

  <div class="m_post clearfix">
      
    <div class="m_user">
      pic
    </div>
    
    <div class="m_contents">
      <div class="m_head">
        <span class="m_author">Keith Schacht</span>
        <span class="m_datetime">Jun 28, 2008 3:23pm</span>
      </div>

      <div class="m_body">
        <%= auto_link( h( post.body ).
            gsub(/\n/, '<br>').
            gsub(/\[b\](.*?)\[\/b\]/, "<b>\\1</b>").
            gsub(/\[i\](.*?)\[\/i\]/, "<i>\\1</i>").
            gsub(/\[u\](.*?)\[\/u\]/, "<u>\\1</u>").
            gsub(/\?last_post_at=\d+/, "") , :all ) %>
      </div>
    </div>

  </div>
    
<% end %>
</div>


<%= form_for [ @post ] do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this forum from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <%= hidden_field_tag 'moxie_post[topic_id]', @topic.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
