<%= form_for [ @post ] do |f| %>

  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this forum from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <% if current_user %>

    <div class="m_post clearfix m_newpost">
      <div class="m_user">
        <%= current_user.profile_pic %>
      </div>

      <div class="m_contents">

        <div class="m_body">
          <div class="m_prompt field"><%= f.label :body, "Add a reply #{moxie_post_name}" %></div>
            <%= f.text_area :body %>
        </div>
            
        <%= hidden_field_tag 'moxie_post[topic_id]', @topic.id %>

        <div class="m_actions"><%= f.submit "Create #{moxie_post_name.titleize}" %></div>
      
      </div> <!-- contents -->
    </div>   <!-- post -->
  
  <% else %>

    <div class="m_post clearfix m_newpost">

      <div class="m_contents">
      
        <div class="m_body">
          <div class="m_prompt field">Add a reply <%= moxie_post_name %></div>
          
          <%= link_to "Login", topic_show_postable_moxie_topic_path( @topic ) %> to post a reply.
        </div>
      </div>
    </div>
  
  <% end %>

<% end %>
